$palette: (
  s0:       #73ddff,
  s1:       #35d07f,
  s2:       #edfa5a,
  s3:       #ffa174,
  s4:       #ff7088,
  s5:       #f7a8ff,

  g0:       #ffffff,
  g1:       #fcfcfc,
  g2:       #f5f5f5,
  g3:       #fafafa,
  g4:       #eeeeee,
  g5:       #d4d4d4,
  g6:       #b0b0b0,
  g7:       #cccccc,
  g8:       #999999,
  g9:       #666666,
  g10:      #3a3a3a,
  g11:      #222222,
  g12:      #000000,
) !default;
