
$typo---jost: (
  name: (Jost, futura-pt, futura, sans-serif),
  variants: (
    regular: 400,
    normal: 400,
    bold: 500,
  )
) !default;

$typo---garamond: (
  name: ("EB Garamond", eb-garamond, Garamond, serif),
  variants: (
    light: 400,
    regular: 400,
    bold: 700,
  )
) !default;

$typo---monospace: (
  name: ("Roboto Mono", monospace),
  variants: (
    light: 400,
    regular: 500,
    normal: 500,
    bold: 700,
  )
) !default;

$typos: (
  default: $typo---jost,
  monospace: $typo---monospace,
  text: $typo---jost,
  heading: $typo---garamond,
) !default;
