:host {
  // Table row reset

  display: table-row;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  display: table-row;
  vertical-align: inherit;
  border-color: inherit;
}
