<table
  *ngIf="nodesList$ | async as nodes"
  class="table"
  [class.table--show]="enter$ | async">

  <thead>
    <tr class="table__head">
      <td
        matRipple
        matRippleColor="rgba(255, 255, 255, 0.2)"
        *ngFor="let column of columns; trackBy: trackColumn"
        [class]="'table__cell ' + column.textVariants"
        (click)="changeOrderBy(column)">

        <mat-icon fontSet="material-icons-outlined" [matTooltip]="column.name" class="table__head-icon">
          {{column.icon}}

          <mat-icon
            fontSet="material-icons-outlined"
            *ngIf="(orderBy$ | async)?.column == column"
            class="table__head-icon table__head-icon--order">

            {{(orderBy$ | async)?.direction == 1 ? 'keyboard_arrow_up' : 'keyboard_arrow_down'}}
          </mat-icon>
        </mat-icon>
      </td>
  </thead>
  <tbody>
    <tr class="table__row" *ngFor="let node of nodes; trackBy: trackNodes">
      <td
        *ngFor="let column of node; trackBy: trackColumn"
        [class]="'table__cell table__cell--' + column.style + column.variants">

        {{column.value}}
      </td>
    </tr>
  </tbody>
</table>
