<table>
  <thead>
    <tr>
      <td>Name</td>
      <td>ID</td>
      <td>Latency</td>
      <td>Peers</td>
      <td>Pending</td>
      <td>Block #</td>
      <td>Transactions</td>
      <td>Block Time</td>
      <td>Propagation</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let node of nodesList | async; trackBy: trackNodes">
      <td>{{node.info?.name}}</td>
      <td>{{node.id}}</td>
      <td>{{node.stats?.latency}}</td>
      <td>{{node.stats?.peers}}</td>
      <td>{{node.pending}}</td>
      <td>{{node.block?.number}}</td>
      <td>{{node.block?.transactions.length}}</td>
      <td>{{node.block?.received}}</td>
      <td>{{node.block?.propagation}}</td>
    </tr>
  </tbody>
</table>
