@import '../../styles/index';

:host {
  display: block;
  width: 100%;
  max-width: 1520px;
  margin: auto;
}

.table {
  @include get-font(monospace, light);

  width: 100%;
  box-shadow:
    0 0 0 1px gc(g10),
    0 0 15px gc(g12, 0.4);
  border-radius: 3px 3px 0 0;
  transition:
    transform 2s cubic-bezier(0, 0, 0.1, 1),
    opacity 1.5s ease-in-out;
  transform: perspective(600px) rotateX(-20deg) translateY(600px);
  transform-style: preserve-3d;
  transform-origin: 50% 0%;
  opacity: 0;

  &--show {
    transform: perspective(600px) rotateX(0deg) translateY(0px);
    opacity: 1;
  }

  &__cell {
    white-space: nowrap;
    padding: 4px 10px;
    font-size: 10px;
    border-top: 1px solid gc(g9, 0.06);

    &--info  { color: gc(s0); }
    &--ok    { color: gc(s1); }
    &--warn1 { color: gc(s2); }
    &--warn2 { color: gc(s3); }
    &--warn3 { color: gc(s4); }
    &--warn4 { color: gc(s5); }
    &--no    { color: gc(g7); }
  }
  &__row:nth-child(odd) &__cell {
    background: gc(g0, 0.03);
  }

  &__head {
    &-icon {
      position: relative;

      &--order {
        $size: 20px;
        position: absolute;
        top: -6px;
        right: -12px;
        font-size: 16px;
        width: $size;
        height: $size;
        line-height: $size;
        text-align: center;
        border-radius: 50%;
        background: gc(g9);
        box-shadow:
          0 0 4px gc(g12, 0.4)
          0 2px 2px gc(g12, 0.6);
      }
    }
  }

  &__head &__cell {
    @include transition;

    cursor: pointer;
    border: 0;
    padding-top: 12px;
    padding-bottom: 10px;

    &:hover {
      background: gc(g0, 0.05);
    }
  }
}
