@import '../../styles/index';

@mixin chart() {
  $total-size: 8px;
  $size: 4px;

  height: 60px;
  position: relative;

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
  }

  &__bar {
    @include transition(slow);

    width: $size;
    min-height: $size;
    border-radius: 3px;
    margin: 0 (($total-size - $size) / 2);
    display: inline-block;
    background: gc(g0);
    box-shadow:
      0 0 2px gc(g12, 0.25),
      0 -2px 3px -1.5px gc(g12, 0.5),
      0 2px 3px -1.5px gc(g12, 0.5);
    opacity: 0.7;

    &:hover {
      opacity: 1;
    }

    &:before {
      content: '';
      top: 0;
      bottom: 0;
      display: block;
      position: absolute;
      width: $total-size;
      margin-left: (($total-size - $size) / -2);
    }
  }
}

.chart {
  @include chart;
}
