@import './styles/index';

:host {
  display: block;
  padding-top: 40px;
}

.submenu {
  display: flex;
  align-items: center;
  position: sticky;
  max-width: calc(100vw - 30px);
  left: 20px;

  &--secondary {
    left: initial;
    right: 20px;
  }

  &__image {
    margin-right: 6px;
  }

  &__link {
    @include transition(fast);

    margin-left: 20px;
    position: relative;
    color: gc(g0);
    text-decoration: none;
    opacity: 1;

    &:hover {
      opacity: 0.7;
    }

    &--active {
      pointer-events: none;

      &:before {
        $size: 8px;

        content: '';
        position: absolute;
        bottom: -8px + -$size;
        left: 50%;
        display: block;
        background: gc(b2);
        width: $size;
        height: $size;
        border-radius: 50%;
        transform: translateX(-50%) scaleX(0.79) skewX(-20deg);
      }
    }
  }

  &-wrapper {
    max-width: 1240px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 20px;
  }
}

.install {
  @include transition(fast);

  opacity: 1;
  color: gc(g0);
  display: flex;
  align-items: center;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }


  &__icon {
    $size: 20px;
    color: gc(b-g3);
    font-size: $size;
    line-height: $size - 1px;
    width: $size;
    height: $size;
    margin-right: 6px;
  }
}
