@import './styles/index';

$right-padding: 20px;
$submenu-bp: 660px;
$submenu-max-width: 1240px;

:host {
  display: block;
}

.menu {
  $padding: 20px;

  display: flex;
  align-items: center;
  position: sticky;
  left: $padding;

  &--right {
    left: initial;
    right: $padding + $right-padding;
  }

  &__link {
    @include get-font(text, bold);
    @include transition(fast);

    margin-left: 50px;
    color: gc(g0);
    display: inline-flex;
    align-items: center;
    opacity: 1;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      opacity: 0.7;
    }

    &-icon {
      margin-left: 8px;

      path {
        fill: gc(g0);
      }
    }
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    height: 80px;
    box-sizing: border-box;
  }
}

.submenu {
  $padding: 20px;

  display: flex;
  align-items: center;
  position: sticky;
  left: $padding;
  box-sizing: border-box;

  &--secondary {
    left: initial;
    right: $padding + $right-padding;
  }

  &__image {
    margin-right: 6px;
  }

  &__link {
    @include transition(fast);
    @include get-font(text, bold);

    margin-left: 20px;
    position: relative;
    color: gc(g0);
    text-decoration: none;
    opacity: 1;
    text-align: center;

    &:hover {
      opacity: 0.7;
    }

    &--active {
      pointer-events: none;

      &:before {
        $size: 8px;

        content: '';
        position: absolute;
        bottom: -8px + -$size;
        left: 50%;
        display: block;
        background: gc(b2);
        width: $size;
        height: $size;
        border-radius: 50%;
        transform: translateX(-50%) scaleX(0.79) skewX(-20deg);
      }
    }
  }

  &-wrapper {
    max-width: $submenu-max-width;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 20px;
    box-sizing: border-box;
  }

  @media (max-width: $submenu-max-width) {
    &-wrapper {
      max-width: initial;
      width: initial;
    }
  }

  @media (max-width: $submenu-bp) {
    &,
    &--secondary {
      position: static;
    }
    &--secondary {
      text-align: center;
      display: block;
    }
    & {
      margin: auto;
      margin-bottom: 30px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &-wrapper {
      max-width: 100vw;
      position: sticky;
      right: 0;
      left: 0;
      margin: 0;
      display: block;
    }
  }
}

.install {
  @include transition(fast);

  opacity: 1;
  color: gc(g0);
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  margin-left: 20px;

  &:hover {
    opacity: 0.7;
  }


  &__icon {
    $size: 20px;
    color: gc(b-g3);
    font-size: $size;
    line-height: $size - 1px;
    width: $size;
    height: $size;
    margin-right: 6px;
  }

  &--flickering {
    animation: flickering-animation 0.8s ease-in infinite alternate;
  }

  @media (max-width: $submenu-bp) {
    margin: 0 10px;
  }
}

.logo {
  height: 40px;
}

@keyframes flickering-animation {
  from { opacity: 1; }
  to { opacity: 0.6; }
}
