@import '../../styles/index';

$block-proposers---color: gc(b-g2) !default;

@mixin block-proposers() {
  @include get-font(monospace);

  font-size: 10px;

  &__row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 6px;
    color: $block-proposers---color;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &__content {
    padding-left: 8px;
    padding-right: 4px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    flex: 1;
    padding-top: 1px;
  }

  &__blocks {
    margin-top: -1px;
  }
  &__block {
    $size: 3px;

    display: inline-block;
    box-sizing: border-box;
    margin-right: 1px;
    width: $size;
    height: $size;
    border: 1px solid $block-proposers---color;

    &--active {
      background: $block-proposers---color;
    }

    &:nth-child(3n) {
      margin-right: 2px;
    }
    &:last-of-type {
      margin-right: 0;
    }
  }
}

.block-proposers {
  @include block-proposers;
}
