@import '../../styles/index';

.wrapper {
  display: flex;
  justify-content: center;
  padding: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  min-height: 482px;

  .block {
    $width: 7px * 40; // Chart size

    flex: 1;
    max-width: $width;
    min-width: $width;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px;
  }

  component-info {
    margin-bottom: 20px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}
