<div class="wrapper" *ngIf="context$ | async as context">
  <div
    class="card"
    [class.card--show]="enter$ | async"
    *ngFor="let card of blocks; trackBy: trackBlock">

    <component-info
      *ngFor="let block of card; trackBy: trackBlock"
      [type]="block.type"
      [icon]="block.icon"
      [title]="block.title"
      [value]="block.show(block.accessor(context), context)"
      [color]="block.color(block.accessor(context), context)"
      [sizeType]="block.sizeType">
    </component-info>
  </div>
</div>
