@import '@angular/material/theming';
@import './app/styles/index';

@include reset;

@include mat-core();

$app-primary: mat-palette($mat-indigo);
$app-accent:  mat-palette($mat-pink, A200, A100, A400);

$app-warn:    mat-palette($mat-red);

$app-theme: mat-dark-theme($app-primary, $app-accent, $app-warn);

@include mat-core-theme($app-theme);

@include mat-icon-theme($app-theme);
@include mat-tooltip-theme($app-theme);
@include mat-snack-bar-theme($app-theme);


html, body { height: 100%; }
body {
  @include get-font();

  margin: 0;
  background: gc(bg);
  color: gc(g0);
  min-width: 1640px;
}

.mat-tooltip  {
  white-space: pre-line !important;
  line-height: 1.4em;
}

.mat-snack-bar-container {
  background: mix(gc(g0), gc(bg), 10%);
  color: gc(g0);

  .mat-button {
    @include get-font(text, bold);

    color: gc(g0);
    background: gc(g12, 0.3);
  }
  .mat-simple-snackbar {
    @include get-font();
  }

  $filter: saturate(200%) contrast(120%) blur(4px);

  @supports (backdrop-filter: #{$filter}) {
    backdrop-filter: $filter;
    background: gc(g0, 0.25);
    color: gc(g0);
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  }

  @at-root .mat-snack-bar-handset snack-bar-container#{&} {
    margin: 24px;
  }
}

ng-host {
  display: none;
}

// Loading animations
.ng-trigger-loadingAnimation {
  border-radius: 5px;
}
@keyframes loading-animation {
  from { opacity: 0.2; }
  to { opacity: 0.15; }
}
@keyframes loading-animation-full {
  from { opacity: 1; }
  to { opacity: 0.5; }
}
