@import '../../styles/index';

:host {
  display: block;
}

@mixin info-value($height, $min-width) {
  font-size: $height;
  height: $height;
  min-width: $min-width;
}


@mixin info() {

  &__title {
    @include get-font(text, bold);

    font-size: 12px;
    line-height: 22px;
    white-space: pre-line;
    height: 28px;
  }

  &__value {
    @include get-font(heading);

    color: gc(b-g1);
    display: inline-block;
  }

  &__icon {
    margin-bottom: 14px;
  }

  &--chart &__title {
    height: 34px;
  }

  &--big    &__value { @include info-value(24px, 60%); }
  &--medium &__value { @include info-value(22px, 50%); }
  &--small  &__value { @include info-value(20px, 30%); }

  &--big {
    padding-bottom: 10px;
    line-height: 20px;
  }
}

.info {
  @include info;
}
