<div [class]="'info info--' + type + ' info--style-' + color">
  <div class="info__content">
    <!-- <mat-icon fontSet="material-icons-outlined" class="info__icon">{{icon}}</mat-icon> -->
    <div class="info__text">
      <div class="info__title">{{title}}</div>
      <div *ngIf="type !== 'chart' && type !== 'block-proposers'" class="info__value">{{value}}</div>
    </div>
  </div>
  <div *ngIf="type === 'chart'" class="info__chart">
    <component-chart [data]="value" [type]="sizeType"></component-chart>
  </div>
  <div *ngIf="type === 'block-proposers'" class="info__data">
    <component-block-proposers [data]="value"></component-block-proposers>
  </div>
</div>
