@import '../../styles/index';

:host {
  display: block;
}

@mixin info-icon() {
  width: 34px;
  height: 23px;
  position: relative;

  &__icon {
    position: absolute;
    bottom: 0;
    left: 0;
  }
}

.info-icon {
  @include info-icon;
}
